@import url("normalize.css");
@import url("recipes.css");

@font-face {
    font-family: 'robotoRegular';
    src: url('../fonts/Roboto/Roboto-Regular.ttf') format('truetype');
  }
@font-face {
    font-family: 'latoRegular';
    src: url('../fonts/Lato/Lato-Regular.ttf') format('truetype');
  }
  /* font-family: 'robotoRegular', Arial, Helvetica, sans-serif; */

  * {
    box-sizing: border-box;
    margin: 0; 
    padding: 0;
  }

body {
    font-family: 'latoRegular', Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  a {
    text-decoration: none;
  }
  
  li {
    list-style: none;
  }
/*  --------------- HEADER -------------  */
#logo {
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#logo h1 {
    color: #D04F4F;
    font-weight: 700;
    font-size: 36px;
    font-family: "DM Sans", sans-serif;
}

/*  --------------- SEARCH SECTION -------------  */
#searchsSection {
    max-width: 80vw;
    margin-left: auto;
    margin-right: auto;
}
/*  --------------- SEARCH BAR MAIN -------------  */
.search {
    margin-top: 1em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  #searchTerm {
    border: none;
    padding-left: 30px;
    height: 69px;
    background: #E7E7E7;
    border-radius: 5px 0 0 5px;
    outline: none;
    /* width: 80vw; */
    width: 100%;
  }
  .searchButton {
    height: 69px;
    padding: 15px;
    border: none;
    background: #E7E7E7;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
  }

  .search ::placeholder {
    /* padding: 12px; */
    /* color: black; */
    font-weight: 400;
    font-size: 18px;
  }
  #searchTerm:focus {
    /* color: black; */
    font-size: 18px;
  }

  /* --------------------- TAGS --------------------- */
  .tagSection {
    display:none;
  }
  .tags {
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start
  }

  /* ----------------- SEARCH INPUTS ----------------- */
  .hidden {
    display: none;
  }
  .inputsSearchSection {
    margin-top: 2em;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  /* .inputs, .btnFirstVisual {
    position: relative;
  }
  .gatherBtnIcn, .btnFirstVisual {
    display: flex;
    align-items: center;
    height: 69px;
    position: relative;
    margin-right: 2em;
  }
  .btnFirstVisual h2{
    font-size: 18px;
    padding-right: 4em;
  }
  .btnFirstVisual {
    display: flex;
    align-items: center;
    
  }
  #visualBtn1 {
    display: none;
    width: 100%;
  }
  #visualBtn2 {
    display: none;
    width: 100%;
  }
  #visualBtn3 {
    display: none;
    width: 100%;
  }
  .realInput1 {
    display: none;
  }
  .realInput2 {
    display: none;
  }
  .realInput3 {
    display: none;
  }

  .inpBtn, .btnFirstVisual {
    width: 100%;
    height: 100%;
    max-height: 69px;
    border: none;
    outline: none;
    padding-left: 15px;
    border-radius: 5px 5px 5px 5px;
    color: white;
    position: relative;
  }
  
  .inpBtn:focus {
    font-size: 18px;
  }
 */
 /* ------------------------  */
 #visualBtn1 {
  /* display: none; */
  /* width: 100%; */
  min-width: 9em;
}
#visualBtn2 {
  /* display: none; */
  /* width: 100%; */
  min-width: 9em;
}
#visualBtn3 {
  /* display: none; */
  /* width: 100%; */
  min-width: 9em;
}
#realInput1 {
  display: none;
  /* width: 15em; */
}
#realInput2 {
  display: none;
  /* width: 15em; */
}
#realInput3 {
  display: none; 
  /* width: 15em; */
}
/* ------------------------  */
 .inputs, .visualBtn {
  position: relative;
  margin-right: 2em;
}
.gatherBtnIcn {
  display: flex;
  align-items: center;
  height: 69px;
  position: relative;
  
}
.visualBtn h2, .inputs h2{
  margin-top: 0;
  font-size: 18px;
  /* padding-right: 4em; */
}

.visualBtn {
  display: flex;
  align-items: center;
  width: 100%;
  /* height: 100%; */
  max-height: 69px;
  border: none;
  outline: none;
  padding-left: 15px;
  border-radius: 5px 5px 5px 5px;
  color: white;
  position: relative;
}
#inpBtn1, #inpBtn2, #inpBtn3 {
  display: flex;
  width: 40vw;
  height: 100%;
  max-height: 69px;
  border: none;
  outline: none;
  padding-left: 15px;
  border-radius: 5px 5px 5px 5px;
  color: white;
  position: relative;
}

.inpBtn:focus {
  font-size: 18px;
}
/* .inpBtn  {
  font-size: 18px;
} */
#inpBtn1, #ulBtn1, #visualBtn1 {
  background-color: #3282F7;
}
#inpBtn2, #ulBtn2, #visualBtn2 {
  background-color: #68D9A4;
}
#inpBtn3, #ulBtn3, #visualBtn3 {
  background-color: #ED6454;
}
.gatherBtnIcn  ::placeholder {
  color: white;
  font-size: 18px;
  font-weight: 400;
}
.arrowContent {
  position: absolute;
right: 1.4em;
top: 0;
}
#arrContent1 {
  background-color: #3282F7;
}
#arrContent2 {
  background-color: #68D9A4;
}
#arrContent3 {
  background-color: #ED6454;
} 
.ulBtn {
    position: absolute;
    display: grid;
  grid-template-columns: repeat(3, 3fr);
  grid-gap: 15px;
  grid-auto-rows: 20px;
    top: 66px;
    width: 40vw;
    border-radius: 0 0 5px 5px;
    z-index: 1;
    padding: 0.5em 1em 1em 1em;
    /* padding-top: 0.5em; */
    /* column-width: 170px; */
    color: #ffffff;
    font-size: 1.125rem;
    font-weight: 400;
    /* height: 19.6em; */
    height: 20.6em;
    /* display: -webkit-box; */
    /* overflow: hidden; */
    /* text-overflow:  ellipsis; */
    /* -webkit-line-clamp: 10; */
    /* -webkit-box-orient: vertical; */
  }
  .ulBtn li {
    
    padding-bottom: 1rem;
    max-width: 10em;
    height: 1.5em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  
  /* -------------- ICONES SECTION SEARCH ------------ */
  .icnLoop {
    margin-left: 0;
    padding-left: 0;
    width: 32.06px;
    font-weight: 100;
    color: black;
  }
  
  .arrowBtn {
    width: 16px;
    padding-top: 1.8em;
  }
  