@import url("normalize.css");
@import url("recipes.css");

@font-face {
    font-family: 'robotoRegular';
    src: url('../fonts/Roboto/Roboto-Regular.ttf') format('truetype');
  }
@font-face {
    font-family: 'latoRegular';
    src: url('../fonts/Lato/Lato-Regular.ttf') format('truetype');
  }
  /* font-family: 'robotoRegular', Arial, Helvetica, sans-serif; */

  * {
    box-sizing: border-box;
    margin: 0; 
    padding: 0;
  }

body {
    font-family: 'latoRegular', Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  a {
    text-decoration: none;
  }
  
  li {
    list-style: none;
  }
/*  --------------- HEADER -------------  */
#logo {
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#logo h1 {
    color: #D04F4F;
    font-weight: 700;
    font-size: 36px;
    font-family: "DM Sans", sans-serif;
}

/*  --------------- SEARCH SECTION -------------  */
#searchsSection {
    max-width: 80vw;
    margin-left: auto;
    margin-right: auto;
}
/*  --------------- SEARCH BAR MAIN -------------  */
.search {
    margin-top: 1em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  #searchTerm {
    border: none;
    padding-left: 30px;
    height: 69px;
    background: #E7E7E7;
    border-radius: 5px 0 0 5px;
    outline: none;
    width: 100%;
  }
  .searchButton {
    height: 69px;
    padding: 15px;
    border: none;
    background: #E7E7E7;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
  }

  .search ::placeholder {
    font-weight: 400;
    font-size: 18px;
  }
  #searchTerm:focus {
    font-size: 18px;
  }

  /* --------------------- TAGS --------------------- */
  #tagSection {
    margin-bottom: -1em;
    max-width: 80vw;
  }
  #tags {
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    max-width: 80vw;
    height: 100%;
  }
 
  .tagLi {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-right: 2em;
    margin-top: 1em;
    max-height: 60px;
    border: none;
    outline: none;
    padding-left: 15px;
    border-radius: 5px 5px 5px 5px;
    color: white;
    position: relative;
  }
  .tagLi h3 {
    padding-top:0.5em;
    font-size: 18px;
  }
  .btnCloseTags {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
  }
  .tagLi img {
    padding: 0.5em;
    font-size: 18px;
  }
  .tagLi-ing {
    background-color: #3282F7;
  }
  .tagLi-app {
    background-color: #68D9A4;
  }
  .tagLi-ust {
    background-color: #ED6454;
  }

  /* ----------------- SEARCH INPUTS ----------------- */
  .hidden {
    display: none;
  }
  .inputsSearchSection {
    margin-top: 2em;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

 /* ------------------------  */
 #visualBtn1 {
  min-width: 9em;
}
#visualBtn2 {
  min-width: 9em;
}
#visualBtn3 {
  min-width: 9em;
}
#contentInput1 {
  display: none;
}
#contentInput2 {
  display: none;
}
#contentInput3 {
  display: none; 
}
/* ------------------------  */
 .inputs, .visualBtn {
  position: relative;
  margin-right: 2em;
}
.gatherBtnIcn {
  display: flex;
  align-items: center;
  height: 69px;
  position: relative;
  
}
.visualBtn h2, .inputs h2{
  margin-top: 0;
  font-size: 18px;
}

.visualBtn {
  display: flex;
  align-items: center;
  width: 100%;
  max-height: 69px;
  border: none;
  outline: none;
  padding-left: 15px;
  border-radius: 5px 5px 5px 5px;
  color: white;
  position: relative;
}
#inpBtn1, #inpBtn2, #inpBtn3 {
  display: flex;
  height: 69px;
  border: none;
  outline: none;
  padding-left: 15px;
  border-radius: 5px 5px 5px 5px;
  color: white;
  position: relative;
  /* transform: translateX(0); */
  /* animation: show-detail-container 0.7s 0.55s ; */
  width: 100%;
  transition: width 0.5s;
}
.inpBtn:focus {
  font-size: 18px;
}
#inpBtn1, #ulBtn1, #visualBtn1 {
  background-color: #3282F7;
}
#inpBtn2, #ulBtn2, #visualBtn2 {
  background-color: #68D9A4;
}
#inpBtn3, #ulBtn3, #visualBtn3 {
  background-color: #ED6454;
}
.gatherBtnIcn  ::placeholder {
  color: white;
  font-size: 18px;
  font-weight: 400;
}
.arrowContent {
  position: absolute;
right: 1.4em;
top: 0;
}
#arrContent1 {
  background-color: #3282F7;
}
#arrContent2 {
  background-color: #68D9A4;
}
#arrContent3 {
  background-color: #ED6454;
} 
.ulBtn {
    position: absolute;
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    grid-gap: 15px;
    grid-auto-rows: 20px;
    top: 66px;
    border-radius: 0 0 5px 5px;
    z-index: 1;
    padding: 0.5em 1em 1em 1em;
    color: #ffffff;
    font-size: 1.125rem;
    font-weight: 400;
    height: auto;
    transition: width 0.5s, height 0.5s;
    /* display: -webkit-box; */
    /* overflow: hidden; */
    /* text-overflow:  ellipsis; */
    /* -webkit-line-clamp: 10; */
    /* -webkit-box-orient: vertical; */
  }
  .ulBtn li {
    display: table-cell;
    float: none;
    padding-bottom: 1rem;
    height: 1.5em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
  }
  .btnLi {
    cursor: pointer;
      }
      .btnLi h3 {
    font-size: 18px;
      }
      .btnLi img {
    font-size: 1em;
      }
  
  
  /* -------------- ICONES SECTION SEARCH ------------ */
  .icnLoop {
    margin-left: 0;
    padding-left: 0;
    width: 32.06px;
    font-weight: 100;
    color: black;
  }
  
  .arrowBtn {
    width: 16px;
    padding-top: 1.8em;
  }
  
  footer {
    margin-top: 5em;
  }